doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='Index page ')
  meta(name='author' content='Phidelis Suwedi')
  title Client Service
  link(rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cyborg/bootstrap.min.css")
  link(rel='stylesheet' href='JSON_formatter.css')
  script(src='https://code.jquery.com/jquery-3.4.1.min.js')
  script.
    function handleForm(){
    $.ajax({method: 'GET', url: "http://localhost:3446/providers/5cd92998aa10915401aa3720", crossDomain:true,headers: {"accept": "application/json","Access-Control-Allow-Origin":"*"}, success: function(result){
    $("#resBody").html(JSON.stringify(result,null,4));
    console.log(result);
    }});
    };
  
nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
  a.navbar-brand(href='#') Client Service
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarsExampleDefault.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
    p.form-inline.my-2.my-lg-0 
      input.form-control.mr-sm-2(type='text' placeholder='Provider ID' aria-label='Search' name='id')
      button.btn.btn-outline-success.my-2.my-sm-0(onclick='handleForm()') Search
main(role='main')
  .container.mt-5
    // Display JSON response
    .row
      .col-md-8.offset-md-2
        .card.mt-5
          .card-header.text-center
            | Provider Details
          .card-body
            p.card-text
            textarea#resBody(name="resBody", cols="70", rows="10")
            
                
                                            
    hr
  // /container
footer.container.text-center
  p.text-center &copy; Client Service 2019
script.
  window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"><\\/script>')
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")